version: '3.3'

services:
  app:
    build: ./app
    depends_on:
      - postgres
    environment:
      - ENV=dev
    ports:
      - "3004:3000"
    command: ["./wait-for-it/wait-for-it.sh", "postgres:5432", "--timeout=30", "--strict", "--", "node", "./dist/app.js"]

  postgres:
    image: postgres:9.4
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
