version: '3.3'

services:
  app:
    build: ./app
    depends_on:
      - postgres
      - redis
    restart: always
    secrets:
      - api.key
      - postgres.password
    environment:
      - ENV=prod
    ports:
      - "3004:3000"
    command: ["./entry-point.sh"]

  postgres:
    image: postgres:10.1-alpine
    restart: always
    secrets:
      - postgres.password
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres.password
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:3.2-alpine
    restart: always

volumes:
  postgres-data:

secrets:
  api.key:
    file: ./secrets/api.key
  postgres.password:
    file: ./secrets/postgres.password
